<div class="p-5 bg-image fadeIn" style="
        background: linear-gradient(to left, #1a1a1a 10%, rgba(77,77,77,0.39) 90%) no-repeat;
        height: 250px;
        "></div>
<div class="container pt-5 mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <div class="fadeIn first">

        <h1>
          Oops!</h1>
        <h2>
          404 Not Found</h2>
        <div class="error-details">
          Žao nam je, došlo je do greške!
        </div><br>
        </div>
        <div class="error-actions fadeIn second">
          <a routerLink="/" class="btn btn-primary btn-lg mojBtnLogin">Nazad </a>
        </div>
      </div>
    </div>
  </div>
</div>
